services:
  api:
    build:
      context: .
      dockerfile: ./api/Dockerfile.dev
    volumes:
      - ./api:/repo/api
    working_dir: /repo/api
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=${NODE_ENV:-development}
      - REDIS_URL=redis://redis:6379
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
      - TELEGRAM_TOKEN_2=${TELEGRAM_TOKEN_2}
      - CLOUDPAYMENTS_API_SECRET=${CLOUDPAYMENTS_API_SECRET}
    depends_on:
      - redis
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://api:3000/ping']
      interval: 60s
      timeout: 5s
      retries: 3
      start_period: 5s

  bot:
    build:
      context: .
      dockerfile: ./bot/Dockerfile.dev
    volumes:
      - ./:/repo
      - bot_node_modules:/repo/node_modules
      - /repo/bot/node_modules
    working_dir: /repo/bot
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      - NODE_ENV=${NODE_ENV:-development}
      - REDIS_URL=redis://redis:6379
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
      - TELEGRAM_WEBHOOK_URL=${TELEGRAM_WEBHOOK_URL}
      - TELEGRAM_STEPS_EXPIRE=${TELEGRAM_STEPS_EXPIRE:-3600}
      - PUBLIC_DOMAIN=${PUBLIC_DOMAIN:-example.com}
      - CLOUDPAYMENTS_PUBLIC_ID=${CLOUDPAYMENTS_PUBLIC_ID}
      - CLOUDPAYMENTS_API_SECRET=${CLOUDPAYMENTS_API_SECRET}
      - SHOP_INN=${SHOP_INN}
      - ADMIN_IDS=${ADMIN_IDS}
      - GOOGLE_SHEET_INTERVAL=${GOOGLE_SHEET_INTERVAL}
      - GOOGLE_SHEET_ID=${GOOGLE_SHEET_ID}
      - GOOGLE_SERVICE_ACCOUNT_JSON_BASE64=${GOOGLE_SERVICE_ACCOUNT_JSON_BASE64}
      - GOOGLE_SHEET_LIST_NAME=${GOOGLE_SHEET_LIST_NAME}
      - WATA_ACCESS_TOKEN=${WATA_ACCESS_TOKEN}
  partner_bot:
    build:
      context: .
      dockerfile: ./partner_bot/Dockerfile.dev
    volumes:
      - ./:/repo
      - partner_bot_node_modules:/repo/node_modules
      - /repo/partner_bot/node_modules
    working_dir: /repo/partner_bot
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      - NODE_ENV=${NODE_ENV:-development}
      - REDIS_URL=redis://redis:6379
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - TELEGRAM_TOKEN_2=${TELEGRAM_TOKEN_2}
      - TELEGRAM_WEBHOOK_URL_2=${TELEGRAM_WEBHOOK_URL_2}
      - S3_ENDPOINT=${S3_ENDPOINT}
      - S3_REGION=${S3_REGION}
      - S3_ACCESS_KEY=${S3_ACCESS_KEY}
      - S3_SECRET_KEY=${S3_SECRET_KEY}
      - S3_BUCKET_NAME=${S3_BUCKET_NAME}
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB} -h localhost']
      interval: 5s
      timeout: 3s
      retries: 20

  redis:
    image: redis:7
    volumes:
      - redis-data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    command: ['redis-server', '/usr/local/etc/redis/redis.conf']

volumes:
  postgres-data:
  redis-data:
  bot_node_modules:
  partner_bot_node_modules:
