services:
  traefik:
    profiles: ['traefik']
    container_name: traefik
    image: traefik:v2.11
    restart: always
    command:
      - --entrypoints.web.address=:80
      - --entrypoints.web.http.redirections.entryPoint.to=websecure
      - --entrypoints.web.http.redirections.entryPoint.scheme=https
      - --entrypoints.websecure.address=:443
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --providers.docker.network=traefik_net
      - --certificatesresolvers.le.acme.httpchallenge=true
      - --certificatesresolvers.le.acme.httpchallenge.entrypoint=web
      - --certificatesresolvers.le.acme.email=${LETSENCRYPT_EMAIL}
      - --certificatesresolvers.le.acme.storage=/letsencrypt/acme.json
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./letsencrypt:/letsencrypt
    networks:
      - traefik_net

  api:
    image: localhost:5000/bot-a-api:latest
    environment:
      - NODE_ENV=production
      - REDIS_URL=redis://redis:6379
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
      - TELEGRAM_TOKEN_2=${TELEGRAM_TOKEN_2}
      - CLOUDPAYMENTS_API_SECRET=${CLOUDPAYMENTS_API_SECRET}
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.api.rule=Host(`${PUBLIC_DOMAIN}`) && PathPrefix(`/`)'
      - 'traefik.http.routers.api.entrypoints=websecure'
      - 'traefik.http.routers.api.tls.certresolver=le'
      - 'traefik.http.services.api.loadbalancer.server.port=3000'
      - 'traefik.docker.network=traefik_net'
    depends_on:
      - redis
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://api:3000/ping']
      interval: 60s
      timeout: 5s
      retries: 3
      start_period: 5s
    networks:
      - default
      - traefik_net

  db-migrate:
    image: localhost:5000/bot-a-db-migrate:latest
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
    depends_on:
      - db
    networks:
      - default

  bot:
    image: localhost:5000/bot-a-bot:latest
    environment:
      - NODE_ENV=${NODE_ENV:-development}
      - REDIS_URL=redis://redis:6379
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - TELEGRAM_WEBHOOK_URL=${TELEGRAM_WEBHOOK_URL}
      - TELEGRAM_STEPS_EXPIRE=${TELEGRAM_STEPS_EXPIRE:-3600}
      - PUBLIC_DOMAIN=${PUBLIC_DOMAIN:-example.com}
      - CLOUDPAYMENTS_PUBLIC_ID=${CLOUDPAYMENTS_PUBLIC_ID}
      - CLOUDPAYMENTS_API_SECRET=${CLOUDPAYMENTS_API_SECRET}
      - SHOP_INN=${SHOP_INN}
      - ADMIN_IDS=${ADMIN_IDS}
      - GOOGLE_SHEET_INTERVAL=${GOOGLE_SHEET_INTERVAL}
      - GOOGLE_SHEET_ID=${GOOGLE_SHEET_ID}
      - GOOGLE_SERVICE_ACCOUNT_JSON_BASE64=${GOOGLE_SERVICE_ACCOUNT_JSON_BASE64}
      - GOOGLE_SHEET_LIST_NAME=${GOOGLE_SHEET_LIST_NAME}
      - WATA_ACCESS_TOKEN=${WATA_ACCESS_TOKEN}
    depends_on:
      - db-migrate
      - db
      - redis
    networks:
      - default
  partner_bot:
    image: localhost:5000/bot-a-partner-bot:latest
    environment:
      - NODE_ENV=${NODE_ENV:-development}
      - REDIS_URL=redis://redis:6379
      - TELEGRAM_TOKEN_2=${TELEGRAM_TOKEN_2}
      - TELEGRAM_WEBHOOK_URL_2=${TELEGRAM_WEBHOOK_URL_2}
      - TELEGRAM_BOT_USERNAME=${TELEGRAM_BOT_USERNAME}
      - ADMIN_IDS=${ADMIN_IDS}
      - S3_ENDPOINT=${S3_ENDPOINT}
      - S3_REGION=${S3_REGION}
      - S3_ACCESS_KEY=${S3_ACCESS_KEY}
      - S3_SECRET_KEY=${S3_SECRET_KEY}
      - S3_BUCKET_NAME=${S3_BUCKET_NAME}
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
    depends_on:
      - db-migrate
      - db
      - redis
    networks:
      - default
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - default

  redis:
    image: redis:7
    volumes:
      - redis-data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    command: ['redis-server', '/usr/local/etc/redis/redis.conf']
    networks:
      - default

  minio:
    image: minio/minio:RELEASE.2023-05-04T21-44-30Z
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.minio.rule=Host(`${PUBLIC_DOMAIN}`) && PathPrefix(`/media`)'
      - 'traefik.http.routers.minio.entrypoints=websecure'
      - 'traefik.http.routers.minio.tls.certresolver=le'
      - 'traefik.http.services.minio.loadbalancer.server.port=9000'
      - 'traefik.http.middlewares.minio-strip.stripprefix.prefixes=/media'
      - 'traefik.http.routers.minio.middlewares=minio-strip'
      - 'traefik.docker.network=traefik_net'
    networks:
      - default
      - traefik_net
  distribution:
    build:
      context: .
      args:
        PUBLIC_DOMAIN: ${DISTRIBUTION_DOMAIN}
      dockerfile: ./distribution/Dockerfile
    restart: always
    environment:
      BODY_SIZE_LIMIT: 10M
      NODE_ENV: production
      PORT: 3000
      PUBLIC_DOMAIN: ${DISTRIBUTION_DOMAIN}
      ORIGIN: https://${DISTRIBUTION_DOMAIN}
    labels:
      - 'traefik.enable=true'
      - 'traefik.docker.network=traefik_net'
      - 'traefik.http.routers.neuro.rule=Host(`${DISTRIBUTION_DOMAIN}`)'
      - 'traefik.http.routers.neuro.entrypoints=websecure'
      - 'traefik.http.routers.neuro.tls.certresolver=le'
      - 'traefik.http.services.neuro.loadbalancer.server.port=3000'
      - 'traefik.http.routers.neuro.middlewares=neuro-compress'
      - 'traefik.http.middlewares.neuro-compress.compress=true'
      - 'traefik.http.routers.neuro.priority=100'
    networks:
      - traefik_net

volumes:
  postgres-data:
  redis-data:
  minio_data:

networks:
  traefik_net:
    external: true
